:root {
    --bg: #111;
    --bg2: #888;
    --accent: white;
    --primary: #00e6ff;
    --secondary: #cc2222;
}

html, body {
    height: 100%;
    margin: 0;
}

p{
    text-shadow:
        0 0 1px #00e6ff,
        0 0 2px #00e6ff,
        0 0 4px #00e6ff;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg);
    transition: background .5s;
}

#exerciseName{
    position: absolute;
    top: -240px; /*-40px is the baseline*/
    color: white;
    font-size: 2rem;
}

#startButton{
    position: absolute;
    color: white;
    font-size: 3rem;
    cursor: pointer;
}
#timer{
    position: absolute;
    color: white;
    font-size: 3rem;
    cursor: pointer;
    display: none;
}

#setsCount{
    position: absolute;
    top: 350px; /*150px is the baseline*/
    color: white;
    font-size: 2rem;
}

#center-point {
    width: 210px;
    height: 210px;
    border-radius: 16px;
    /* box-shadow: 0 0 1px var(--bg), 0 0 2px var(--bg), 0 0 4px var(--primary), 0 0 8px var(--primary); */
    color: var(--accent);
    position: relative;
}

#container {
    /* background: var(--bg); */
    width: 100%;
    height: 210px;
    border-radius: 16px;
    /* border: 2px solid white; */
    /* box-shadow: 0 0 1px var(--bg), 0 0 2px var(--bg), 0 0 4px var(--primary), 0 0 8px var(--primary); */
    /* color: var(--accent); */
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
    position: absolute;
}

.segment-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
}

.segment {
    border: 2px solid var(--bg2);
    border-radius: 6px;
    position: absolute;
    /* transition: all 0.2s ease; */
}

.active{
    background-color: var(--accent);
    border: 1px solid var(--primary);
    box-shadow: 0 0 3px var(--primary), 0 0 6px var(--primary), 0 0 9px var(--primary);
}

.inactive{
    background-color: var(--accent);
    border: 1px solid var(--secondary);
    box-shadow: 0 0 3px var(--secondary), 0 0 6px var(--secondary), 0 0 9px var(--secondary);
}